1. `chinook.db`
Use the sqlite3 library to connect to the database.
Read the customers table into a pandas DataFrame. Display the first 10 rows.

In [1]:
import pandas as pd
import sqlite3

with sqlite3.connect("../data/chinook.db") as connection:
    df_customers = pd.read_sql("SELECT * FROM customers", con=connection)

print(df_customers.head(10))

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

2. ``iris.json``

Load the JSON file into a DataFrame. Show the shape of the dataset and the column names.

In [2]:
df_iris = pd.read_json("../data/iris.json")
print("shape = ", df_iris.shape)
print("heders = ", list(df_iris.columns))

shape =  (150, 5)
heders =  ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

3. `titanic.xlsx`

Load the Excel file into a DataFrame. Use `head` to display the first 5 rows.`

In [3]:
df_titanic = pd.read_excel("../data/titanic.xlsx")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
%pip install pyarrow

Requirement already satisfied: pyarrow in d:\hobby\maab\python-homeworks\venv\lib\site-packages (19.0.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# 4. Flights parquet file
# Read the Parquet file into a DataFrame and use info to summarize it.

df_flight = pd.read_parquet("../data/flights")
print(df_flight.info())

# df_flight.to_csv("../data/parque.csv", sep=",")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6729125 entries, 0 to 6729124
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 5.5+ GB
None

In [6]:
# movie.csv
# Load the CSV file into a DataFrame and display a random sample of 10 rows.


df_movie = pd.read_csv("../data/movie.csv")
df_movie.sample(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1564,Color,Scott Hicks,135.0,101.0,96.0,442.0,Mika Boorem,12000.0,24185781.0,Drama|Mystery,...,268.0,English,USA,PG-13,31000000.0,2001.0,495.0,6.9,2.35,0
2657,Color,RZA,208.0,107.0,561.0,353.0,RZA,746.0,15608545.0,Action,...,224.0,English,USA,R,15000000.0,2012.0,561.0,5.4,2.35,29000
1723,Color,Ron Howard,302.0,122.0,2000.0,1000.0,Clint Howard,2000.0,18593156.0,Drama,...,241.0,English,USA,R,35000000.0,2008.0,1000.0,7.7,2.35,0
429,Color,Roger Spottiswoode,170.0,123.0,55.0,956.0,Michael Rapaport,3000.0,34543701.0,Action|Mystery|Sci-Fi|Thriller,...,289.0,English,USA,PG-13,82000000.0,2000.0,975.0,5.9,2.35,0
535,Color,Bibo Bergeron,143.0,90.0,10.0,11000.0,Martin Scorsese,22000.0,160762022.0,Adventure|Animation|Comedy|Family,...,288.0,English,USA,PG,75000000.0,2004.0,17000.0,6.0,1.85,0
3067,Color,Bob Dolman,92.0,98.0,7.0,73.0,Eva Amurri Martino,931.0,30306281.0,Comedy|Drama,...,147.0,English,USA,R,10000000.0,2002.0,797.0,5.6,2.35,744
1796,Color,Philip Kaufman,80.0,193.0,133.0,820.0,Scott Glenn,2000.0,21500000.0,Adventure|Drama|History,...,170.0,English,USA,PG,27000000.0,1983.0,826.0,7.9,1.85,0
3387,Color,Claude Miller,38.0,103.0,27.0,59.0,Edouard Baer,71.0,206400.0,Comedy|Crime|Drama|Romance|Thriller,...,26.0,French,France,NaN,50000000.0,2001.0,59.0,6.9,NaN,26
3541,Color,Richard Linklater,231.0,99.0,0.0,84.0,Brandon Smith,11000.0,9203192.0,Comedy|Crime|Drama,...,136.0,English,USA,PG-13,5000000.0,2011.0,106.0,6.8,1.85,15000
1079,Color,James Bobin,398.0,103.0,33.0,84.0,Eric Jacobson,970.0,88625922.0,Adventure|Comedy|Family|Musical,...,252.0,English,USA,PG,45000000.0,2011.0,91.0,7.1,1.85,26000

In [7]:
# Part 2: Exploring DataFrames
# 2.1 Using the DataFrame from iris.json:
# Rename the columns to lowercase.
# Select only the sepal_length and sepal_width columns.

df_iris.columns = [item.lower() for item in df_iris.columns]
df_iris.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species'], dtype='object')

In [8]:
# 2.2 From the titanic.xlsx DataFrame:
# Filter rows where the age of passengers is above 30.
# Count the number of male and female passengers (value_counts).

filtered_data = df_titanic[df_titanic.Age > 30]
sex_count = df_titanic.Sex.value_counts()
nmales = sex_count.loc["male"]
nfemales = sex_count.loc["female"]
print("number of males = ", nmales)
print("number of females = ", nfemales)

number of males =  577
number of females =  314

In [16]:
# 2.3 From the Flights parquet file:

# Extract and print only the origin, dest, and carrier columns.
# Find the number of unique destinations.

print(df_flight[["Origin", "Dest", "CarrierDelay"]])
unique_destinations = set(df_flight["Dest"])
print(unique_destinations)

        Origin Dest CarrierDelay
0          MDT  CLT         None
1          MDT  CLT         None
2          MDT  CLT         None
3          MDT  CLT         None
4          MDT  CLT         None
...        ...  ...          ...
6729120    BOS  ATL         None
6729121    BOS  ATL         None
6729122    BOS  ATL         None
6729123    BOS  ATL        17.00
6729124    BOS  ATL         None

[6729125 rows x 3 columns]
{'DIK', 'RIC', 'IFP', 'SUX', 'BFF', 'DBQ', 'RKS', 'MCI', 'SPI', 'YAK', 'PNS', 'SNA', 'FLL', 'BFL', 'CIU', 'OGG', 'FAT', 'HYS', 'GRB', 'BLI', 'DTW', 'ADQ', 'DAY', 'SUN', 'ITO', 'HNL', 'PSM', 'GPT', 'GNV', 'MSO', 'BIS', 'MEM', 'VLD', 'HSV', 'CHO', 'PSP', 'PSC', 'OGS', 'PHF', 'BMI', 'STX', 'PIR', 'BKG', 'SGF', 'OMA', 'ALS', 'JFK', 'TYS', 'CHA', 'AGS', 'AUS', 'LSE', 'PHL', 'CAE', 'CNY', 'GSP', 'ROA', 'LIH', 'LCK', 'PIE', 'RNO', 'SLC', 'TLH', 'JAN', 'FAI', 'STC', 'LBB', 'RST', 'MAF', 'PPG', 'SPS', 'TPA', 'BUF', 'ICT', 'MFR', 'CGI', 'ELP', 'DHN', 'AMA', 'WRG', 'MLU', 'RFD', 'BUR', 'CID', 'ALO', 'JST', 'BIL', 'IAH', 'AKN', 'ORD', 'TVC', 'HIB', 'SBA', 'EWN', 'MLB', 'PVD', 'ANC', 'PAH', 'SBP', 'STT', 'HTS', 'BQK', 'FSM', 'KTN', 'FSD', 'COD', 'OME', 'DFW', 'MLI', 'TUL', 'PIA', 'SFO', 'MVY', 'GRI', 'SBN', 'RAP', 'SJU', 'IDA', 'LBE', 'SAF', 'HOU', 'FNT', 'BRW', 'LBL', 'LWS', 'ABY', 'HHH', 'ILG', 'MOB', 'IND', 'ECP', 'OTH', 'BET', 'ACK', 'SEA', 'EYW', 'ESC', 'ROW', 'STS', 'GTF', 'EGE', 'GCK', 'GFK', 'CVG', 'AVL', 'CSG', 'LGB', 'GTR', 'LAS', 'WYS', 'FCA', 'TXK', 'TWF', 'GRR', 'OAJ', 'MTJ', 'OKC', 'DCA', 'BDL', 'ORH', 'PWM', 'SCE', 'RDU', 'DAB', 'BZN', 'LNK', 'JAC', 'VEL', 'PGD', 'MCW', 'RDM', 'BGR', 'SJC', 'MCO', 'LAR', 'ADK', 'MYR', 'PLN', 'MOT', 'ALW', 'BTR', 'ATW', 'ATL', 'DVL', 'ABR', 'ROC', 'CMH', 'MKG', 'ABI', 'SAT', 'MDT', 'PIB', 'OWB', 'DEN', 'ATY', 'GCC', 'IMT', 'FOD', 'DLG', 'BLV', 'EVV', 'ACY', 'RHI', 'LEX', 'PSE', 'FLG', 'USA', 'CLT', 'SAV', 'CHS', 'MRY', 'TOL', 'OGD', 'LAN', 'JNU', 'BWI', 'SGU', 'BOS', 'BNA', 'MHT', 'PVU', 'VCT', 'MSP', 'PRC', 'CDV', 'EAU', 'LRD', 'LIT', 'YUM', 'CLL', 'TYR', 'SIT', 'COS', 'DAL', 'BRD', 'TTN', 'CLE', 'LBF', 'ORF', 'FLO', 'HDN', 'MSN', 'MBS', 'ABE', 'EAT', 'HLN', 'DLH', 'HPN', 'JLN', 'CPR', 'DRT', 'CYS', 'HRL', 'MIA', 'EWR', 'SYR', 'EKO', 'DEC', 'GST', 'PIH', 'ACV', 'YKM', 'ERI', 'LAX', 'FAY', 'BOI', 'KOA', 'FWA', 'TBN', 'BTM', 'MDW', 'INL', 'AEX', 'PUW', 'GSO', 'SHD', 'DRO', 'ASE', 'TRI', 'XNA', 'PBI', 'LYH', 'HYA', 'MHK', 'GGG', 'ILM', 'XWA', 'SLN', 'MQT', 'ITH', 'ISP', 'GUC', 'SPN', 'AVP', 'BIH', 'CDC', 'SAN', 'CRW', 'APN', 'GUM', 'BPT', 'BQN', 'ACT', 'VPS', 'DSM', 'SHR', 'IAG', 'SMX', 'MKE', 'LGA', 'SMF', 'OAK', 'MGM', 'SFB', 'PSG', 'PAE', 'PHX', 'JAX', 'ALB', 'ONT', 'COU', 'CMX', 'RSW', 'PGV', 'GEG', 'BJI', 'BGM', 'EAR', 'RDD', 'LWB', 'IAD', 'TUS', 'HOB', 'RIW', 'AZO', 'JMS', 'ELM', 'BHM', 'BTV', 'PBG', 'MFE', 'STL', 'CWA', 'SWO', 'SJT', 'CMI', 'MSY', 'SDF', 'PIT', 'SWF', 'CRP', 'PDX', 'EUG', 'CKB', 'GRK', 'OTZ', 'LAW', 'LFT', 'HGR', 'PUB', 'CAK', 'FAR', 'SHV', 'SCC', 'SRQ', 'BRO', 'AZA', 'GJT', 'DDC', 'LCH', 'MEI', 'ABQ', 'SCK'}

In [41]:
# 2.4 From the movie.csv file:

# Filter rows where duration is greater than 120 minutes.
# Sort the filtered DataFrame by director_facebook_likes in descending order.

filtered_rows = df_movie[df_movie["duration"] > 120]
filtered_rows.sort_values(by="director_facebook_likes", ascending=False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
120,Color,Christopher Nolan,478.0,128.0,22000.0,11000.0,Liam Neeson,23000.0,205343774.0,Action|Adventure,...,2685.0,English,USA,PG-13,150000000.0,2005.0,14000.0,8.3,2.35,15000
1222,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,Color,NaN,9.0,142.0,NaN,427.0,Jack O'Connell,27000.0,NaN,Drama|Romance,...,33.0,English,UK,NaN,NaN,NaN,698.0,7.7,NaN,0
3582,Color,NaN,10.0,240.0,NaN,334.0,Blake Ritson,805.0,NaN,Comedy|Drama|Romance,...,50.0,English,UK,NaN,NaN,NaN,432.0,8.2,1.78,0
3799,Color,NaN,2.0,199.0,NaN,505.0,Jonathan Crombie,662.0,NaN,Drama|Family,...,74.0,English,Canada,TV-G,NaN,NaN,517.0,8.4,1.33,0
4005,Color,NaN,NaN,197.0,NaN,110.0,Jessica De Gouw,578.0,NaN,Drama|War,...,1.0,English,Australia,NaN,15000000.0,NaN,476.0,7.4,NaN,367
4031,Color,NaN,10.0,173.0,NaN,476.0,Colm Feore,723.0,NaN,Horror|Sci-Fi|Thriller,...,33.0,English,USA,NaN,NaN,NaN,539.0,5.0,1.78,518

In [22]:
# From iris.json: Calculate the mean, median, and standard deviation
#  for each numerical column.

numeric_iris = df_iris.select_dtypes('number')

print("means")
means = numeric_iris.mean(axis=0)
print(means)

print("medians")
medians = numeric_iris.median(axis=0)
print(medians)

print("stdv")
stdv = numeric_iris.std(axis=0)
print(stdv)

means
sepallength    5.843333
sepalwidth     3.057333
petallength    3.758000
petalwidth     1.199333
dtype: float64
medians
sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64
stdv
sepallength    0.828066
sepalwidth     0.435866
petallength    1.765298
petalwidth     0.762238
dtype: float64

In [31]:
# From titanic.xlsx: Find the minimum, maximum, and sum of passenger ages

print("max age of passanger is", df_titanic.Age.max(axis=0))
print("max age of passanger is", df_titanic.Age.min(axis=0))
print("max age of passanger is", df_titanic.Age.sum(axis=0))

max age of passanger is 80.0
max age of passanger is 0.42
max age of passanger is 21205.17

np.float64(0.42)

In [43]:
# From movie.csv:

# Identify the director with the highest total director_facebook_likes.
# Find the 5 longest movies and their respective directors.

most_liked_director = df_movie.sort_values(by="director_facebook_likes").loc[0, "director_name"]
longest_movies = df_movie.sort_values(by="duration").iloc[0:5, 1]
print("most_liked_director: ", most_liked_director)
print("longest_movies:", longest_movies)

most_liked_director:  James Cameron
longest_movies: 1930                 NaN
2316          Jane Clark
3997                 NaN
4564         Clark Baker
4342    Robert Greenwald
Name: director_name, dtype: object

In [44]:
# From Flights parquet file:
# Check for missing values in the dataset.
#  Fill missing values in a numerical column with the column’s mean.

for column in df_flight.select_dtypes('number').columns:
    df_flight[column].fillna(df_flight[column].mean(), inplace=True)